.navbar-item img {
    height: 50px;
    max-height: 50px;
}

.pageSkeleton {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80rem;
    .headerTitle{
        display:flex;
        text-align: left;
    }
}

.pageMain {
    border-radius: 8px;
}

.clienteHeader h1 {
    font-size: 2em;
}

.mainClientInfo {
    display: flex;
    justify-content: space-between;
}


.clientInfoLeft,
.clientInfoRight {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0.75rem;
}

.infoBubble {
    display: flex;
    .bubbleTitle {
        background-color: #1C96DA;
        border-radius: 10px 0px 0px 10px;
        width: 30%;
        padding: 0.6rem 0.6rem;
        color: white;
    }

    .bubbleInfo {
        background-color: #C7C7C7;
        border-radius: 0px 10px 10px 0px;
        width: 70%;
        padding: 0.6rem 0.6rem;
        display:flex;
        align-items: center;
    }
}

.tableNew {
    border-collapse: separate;
    border-spacing: 0 15px;
    border: none;
    text-align: center;
    vertical-align: middle;

    &.table-text-2 {
        text-align: left;
        td{
            padding-left: 15px;
        }
    }
    tr {
        border: 1px solid grey;
        margin: 15px;
    }

    thead {
        th{
            vertical-align: middle;
        }
        th:first-child {
            border-radius: 10px 0px 0px 10px;
            border-right: none;
        }
        th:nth-child(2) {
            border-inline: none;
        }
        th:nth-child(3) {
            border-inline: none;
        }
        th:last-child {
            border-radius: 0px 10px 10px 0px;
            border-left: none;
        }
    }
    tbody {
        td {
            padding: 6px;
            width: 150px;
            vertical-align: middle;
            background-color: #D4D4D4;
            font-weight:400;
        }
        td:first-child {
            border-radius: 10px 0px 0px 10px;
            text-align: left;
            padding-left: 10px;
            background-color: white;
        }
        td:nth-child(2) {
            border-inline: none;
        }
        td:nth-child(3) {
            border-inline: none;
        }
        td:last-child {
            border-radius: 0px 10px 10px 0px;
            border-left: none;
        }
        
    }
}

.sortIcon.active.desc:after {
    content: "▲";
  }
  .sortIcon.active.asc:after {
    content: "▼";
  }