$infocolor: #d4d4d4;

.navbar-item img {
    height: 50px;
    max-height: 50px;
}

.pageSkeleton {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80rem;

    .headerTitle {
        display: flex;
        text-align: left;
    }
}

.pageMain {
    border-radius: 8px;
    font-family: sans-serif;
}

.clienteHeader h1 {
    font-size: 2em;
}

.mainClientInfo {
    display: flex;
    justify-content: space-between;
}

.bubble {
    gap: 10px;
}

.infoBubble {
    display: flex;

    .bubbleTitle {
        display: flex;
        align-items: center;
        background-color: #1C96DA;
        border-radius: 10px 0px 0px 10px;
        padding: 0.6rem 0.6rem;
        color: white;
    }

    .bubbleInfo {
        border: 1px solid lightgray;
        background-color: #FFFF;
        border-radius: 0px 10px 10px 0px;
        padding: 0.6rem 0.6rem;
        display: flex;
        align-items: center;
        flex-grow: 1;
    }
}

.tableNew {
    border-collapse: separate;
    border-spacing: 0 15px;
    border: none;
    text-align: center;
    vertical-align: middle;

    &.table-text-2 {
        text-align: left;

        th {
            text-align: left !important;
        }

        td {
            padding-left: 15px;
        }
    }

    tr {
        border: 1px solid $infocolor;
        margin: 15px;
    }

    thead {
        th {
            vertical-align: middle;
        }

        th:first-child {
            border-radius: 10px 0px 0px 10px;
            border-right: none;
        }

        th:not(:first-child):not(:last-child) {
            border-inline: none;
            text-align: center;
        }

        th:last-child {
            border-radius: 0px 10px 10px 0px;
            border-left: none;
        }
    }

    tbody {
        td {
            padding: 6px;
            width: 150px;
            vertical-align: middle;
            background-color: #D4D4D4;
            font-weight: 400;
        }

        td:first-child {
            border-radius: 10px 0px 0px 10px;
            text-align: left;
            padding-left: 10px;
            background-color: white;
            white-space: nowrap;
        }

        td:not(:first-child):not(:last-child) {
            border-inline: none;
        }

        td:last-child {
            border-radius: 0px 10px 10px 0px;
            border-left: none;
        }

    }
}

.sortIcon.active.desc:after {
    content: "▲";
}

.sortIcon.active.asc:after {
    content: "▼";
}

.editable-text {
    padding: 0.3rem;
    background-color: inherit;

    &:hover {
        background-color: lightblue;
    }
}

.editable-title {
    background-color: inherit;
    border: none;
    box-shadow: none;
    height: auto;
    max-width: 100%;
    padding: 0.2rem;
    font-size: inherit;

    &:hover {
        background-color: lightblue;
    }

    &:focus {
        border: 1px solid lightblue;
        outline: none;
    }
}
.custom-number-input {
    height: 30px !important;
    width: 150px !important;
}
.hr2 {
    background-color: gray;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black background */
    z-index: 1;
}

.popup-table {
    border-radius: 10px;
    //transform: translate(-50%, -50%);
    //opacity: 0;
    //animation-name: fadeIn;
    //animation-duration: 0.4s;
    //  animation-fill-mode: forwards;
    z-index: 2;
}

.is-serif {
    font-family: sans-serif;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.8);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

.has-shadow123 {
    background-color: red !important;
}

.bordeado {
    border-radius: 10px;
}

.custom-link {
    text-decoration: none;
    color: inherit;
}

.compraItem {
    padding: 0.5rem;
    box-shadow: none !important;
}

.compra-custom {
    box-shadow: none !important;
    border: 1px solid lightgray;
}

.input-container {
    position: relative;
  }
  
  .modal-custom {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    margin-top: 0;
    z-index: 999;
  }
  

.itemResult {
    cursor: pointer;
    padding: 8px;
}

.itemResult:hover {
    background-color: #f2f2f2;
}
.itemSeparator {
    border: 1px solid #ccc;
  }

  .itemsFlexOrGrid {
    overflow-y: auto;
    padding: 8px;
    max-height: 450px;
  }

  ol {
    list-style-type: lower-alpha;
  }